/*TODO Read again material you design styles guide and see if its possible improve the style and color palette*/

/*
*Preset Button
*
*This adds a button with round corners, shadow below and change its color when the mouse is over
*TODO see if is possible add a good looking behavior when the user clicks the button
*TODO change the font
*/
.button{
    -fx-padding: 1em 3em;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: #FFFBFE;

    -fx-background-color: #6750A4;
    -fx-background-width: none;
    -fx-background-radius: 90px;

    /*-fx-effect: dropshadow(three-pass-box, rgba(54, 54, 54, 0.4), 60, 0, 0, 10);*/

    -fx-cursor: hand;
}
.button:hover{
    /*-fx-background-color: #EADDFF;*/
    /*-fx-text-fill: #464646;*/
    -fx-font-weight: bold;
}
.button:armed{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-background-color: #625B71;
    -fx-text-fill: #FFFBFE;
}

.label{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: #1C1B1F;
}

.text-field{
    -fx-background-color: #E7E0EC;
    -fx-background-width: none;
    -fx-background-radius: 90px;

    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: #49454F;

}
.text-field:hover{

}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1.5 0; /* its make really one-pixel-border */
    -fx-border-color: #7D5260;
}

/*
*Background
*
*This adds an image as background.
*TODO Search ways to improve it according MD3
*/
#mainHBox{
    /*-fx-background-image: url(../Resources/imgs/background.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 800 600;
    -fx-background-position: center center;*/
    -fx-background-color: #E7E0EC;
}

/*
*Left Button
*
*Adds an image to the button and make it semi-transparent, when the mouse is over the button the image is darker
*TODO Add a style behavior when the user click the button
*/
#leftButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;

    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-image: url(../Resources/imgs/favpng_arrow-keys-clockwise-material-design.png);

    -fx-opacity: 30%;
    -fx-rotate: -90;
    -fx-start-margin: 30px auto;
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-cursor: hand;
}
#leftButton:hover{
    -fx-opacity: 80%;

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}
#leftButton:armed{
    -fx-opacity: 80%;

    -fx-scale-x: 1.25;
    -fx-scale-y: 1.25;
    -fx-scale-z: 1.25;
}

/*
*Mid Box
*
*This defines a slightly gradient to the box, round its corners, adds margin and a shadow below the object
*/
#centerVBox{
    /*-fx-background-color: linear-gradient(to bottom, #ddecf3, #d5ddf3);*/
    -fx-background-color: #FFFBFE;
    -fx-background-radius: 25 25 25 25;
    -fx-padding: 20px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 30, 0, 0, 5);*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 4, 0, 0, 3);
}

/*
*Progress Bar
*
*This adds a custom color to the box and bar, and makes them flat to pair with the rest of the design
*/
#splashProgressBar{
    -fx-accent: #6750A4;
    -fx-background-color: #c5d7ec;
}
#splashProgressBar .bar {
    -fx-padding: 4px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: #6750A4;
}
#splashProgressBar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: #EADDFF;
    -fx-background-insets: 0;
}

/*
* Right Button
*
*This adds the other button with the same style as the left button
*/
#rightButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;

    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-image: url(../Resources/imgs/favpng_arrow-keys-clockwise-material-design.png);

    -fx-opacity: 30%;
    -fx-rotate: 90;
    -fx-start-margin: 30px auto;
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-cursor: hand;
}
#rightButton:hover{
    -fx-opacity: 80%;

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}
#rightButton:armed{
    -fx-opacity: 80%;

    -fx-scale-x: 1.25;
    -fx-scale-y: 1.25;
    -fx-scale-z: 1.25;
}

#lockImg{
    -fx-opacity: 80%;
}

#titleText{
    -fx-font-size: 30px;
}

#showPasswordButton{
    -fx-opacity: 60%;
    -fx-cursor: hand;
}
#showPasswordButton:hover{
    -fx-opacity: 80%;
}

#backButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;

    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-text-fill: #79747E;
}
#backButton:hover{
    -fx-text-fill: #21005D ;
}